*{
	font-family: 'Roboto',sans-serif;
}
body,html{
	margin:0;padding:0;
	width:100%;
}
.minScreenSizeOverlay{
	position:fixed;
	width:100%;
	height:100%;
	z-index:99999;
	background:#ECF0F1;
}
.minScreenSizeOverlay .contentContainer{
	position:relative;
	width:100%;
}
.minScreenSizeOverlay .content{
	text-align:center;
	position: fixed;
	top: 50%;
	margin-top: -100px;
	width:100%;
	font-family:'Oswald', sans-serif;
	font-weight: bold;
	font-size: 16px;
}
@media all and (min-width:300px){
	.minScreenSizeOverlay{
		display:none;
	}
}
/**Fix for white space**/
.row{
	margin-right:0px;
	margin-left:0px;
}
/** General CSS **/
#section-color-fix2{
	margin-top: 30px;
}
#section-color-fix{
	margin-top: 90px;
}
#button-color-fix2{ }
#button-color-fix{ }
section{
	padding-bottom:20px;
	transform-style: preserve-3d;
	transform:translateZ(0);
}
.heading{
	padding:0px 10px;
	font-size:28px;
	font-family:'Cinzel',sans-serif;
}
.horizon-center{
	margin:auto;
	left:0; right:0;
}
.row-centered{
	text-align:center;
}
.col-centered{
	display:inline-block;
	float:none;
	text-align:center;
	margin-right:-4px;
}
.section-header{
	font-family:'Libre Baskerville',sans-serif;
	font-size: 60px;
	padding:20px;
	margin-top:100px;
	margin-bottom:30px;
	width: 100%;
	margin-left:0;margin-right:0;
	left:0;right:0;
}
button{
	font-family: 'Coming Soon',cursive;
	border:none;
	padding:10px;
	background-color: transparent!important;
}
/** PreLoader **/
.preloader{
	position:fixed;
	width:100%;
	height:100%;
	z-index:99999;
	background:#2C3E50;
	animation-name:color-changing-background;
	animation-duration:10s;
	animation-timing-function:linear;
	animation-direction:alternate;
	animation-iteration-count:infinite;
}
.preloader .content{
	position:relative;
	width:100%;height:100%;
}
.preloader .preloader-content{
	position:absolute;
	width:180px;
	height:190px;
	text-align:center;
	margin:auto;
	left:0;right:0;
	top:0;bottom:0;
	color:rgba(255,255,255,0.9);
	font-size:40px;
	font-family: 'Cinzel';
	animation-name:blinking-text;
	animation-duration:1s;
	animation-timing-function:linear;
	animation-direction:alternate;
	animation-iteration-count:infinite;
}
@keyframes color-changing-background{
	0%{
		background:#2C3E50;
	}
	25%{
		background:#674172;
	}
	50%{
		background:#96281B;
	}
	75%{
		background:#336E7B;
	}
	100%{
		background:#2C3E50;
	}
}
@keyframes blinking-text{
	0%{
		opacity:0.15;
	}
	25%{
		opacity:0.25;
	}
	50%{
		opacity:0.5;
	}
	75%{
		opacity:0.75;
	}
	100%{
		opacity:1;
	}
}
/**FlashBox**/
.flashbox{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	z-index:9999;
	text-align:center;
}
.flashbox .content{
	position:absolute;
	width:95%;
	max-height:95%;
	margin:auto;
	left:0;right:0;
	top:0;bottom:0;
	overflow:hidden;
}
.flashbox .content .closeBtn{
	position:absolute;
	top:0;right:2px;
	cursor:pointer;
	color:#000;
	font-size:18px;
	z-index:3;
}
.flashbox .flashBox-content{
	position:relative;
	width:100%;
	height:100%;
}
.flashbox .content .flashBox-content img{
	position:absolute;
	margin:auto;
	top:0;bottom:0;
	left:0;right:0;
	height:auto;
	max-height:100%;
	max-width:100%;
	width:auto;
}

/** FlashBox Styles end **/

/**Color Chooser: Will be implemented in future updates **/
#color-chooser {
	display: none;
	position: fixed;
	bottom:0; right:0;
	width: 100px;
	height: 25px;
	background: #000;
	z-index: 999;
}
#color-chooser ul {
	margin:0; padding:0;
	list-style-type: none;
}
#color-chooser ul li {
	margin: 0;
	padding: 0;
	width: 25px;
	height: 25px;
	float: left;
	display: inline;
}
/** End Color Chooser **/
/** Color definitions (A step to implement color chooser) **/
.theme-bg.green {
	background: #1BBC9B;
}
.theme-bg.blue {

}
.theme-bg.yellow {
	background: #F9BF3B;
}
.theme-bg.red {
	background: #D64541;
}
.theme-btn-primary.blue{
	background: #2C3E50;
	color: #000;
}
.theme-btn-primary.blue:hover {
	background: #374A5E;
	color: #000;
}
.theme-btn-primary.green {
	background: #1BBC9B;
	color: #000;
}
/** Color Definitions End **/
/** Navigation Bar **/
.navbar {
	padding: 5px 0px;
	background-color: transparent!important;
	border: none;
}
.logoContainer {
	margin: 0px 5px;
	width: 160px;
	height: auto;
	overflow: hidden;
}
.logo {
	padding: 0;
	width: 150px;
	height: auto;
}
.iconMed {
	font-size: 36px;
	color: #fff;
}
.navigation-links {
	margin: auto;
}
.navbar-default .navbar-nav > .active > a {
	background-color: #4DD0E1!important;
}
a.page-scroll {
	font-family: 'Cinzel', sans-serif;
	margin-top: 5px;
	font-size: 22px;
	font-weight: 800;
	color: #546E7A!important;
}
a.page-scroll:hover {
	border-bottom: 4px solid #3949AB;
	font-size: 24px;
	color: #212121!important;
}
a.page-scroll:active {
	border-bottom: 4px solid blue;
	color: #212121!important;
}
a.page-scroll img {
	height: 50px;
	width: auto;
}
a.page-scroll img:hover {
	height: 60px;
	width: auto;
}

.Btn, button {

	min-width: 50px;
	padding: 5px 10px 5px 10px;
}

/** Cover Section **/
#home {
	height: 100%;
	padding-top:100px;
	overflow-x:hidden;
	transform: translate3d(0,0,-1px);
	background-image: url("../images/hello.gif");
	background-size: cover;
}

#home .container{
	position:relative;
	height:100%;
}

#home .absolute-center{
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 500px;
	height: 300px;
	text-align: center;
}

#home .coverLogo {
	width:100%;
	animation-name: fade;
	animation-duration: 4s;
	animation-timing-function: linear;
}

@keyframes fade{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

#home .motto{
	float: right;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 16px;
	font-weight: 100;
}

#home .scrollMore{
	clear: both;
	font-size: 24px;
	font-family: 'Lobster', cursive;
	margin-top: 30px;
	animation-name: fade;
	animation-duration: 3s;
	animation-timing-function: linear;
}

#home .scrollIcon{
	padding:0;
}

@media all and (max-width:768px){
	#home .absolute-center{
		width:290px;
		height:200px;
	}
}

/** Intro Section **/
#intro{
	padding: 25px 10px 25px 10px;
	color: #fff;
	height: auto;
	font-weight: bold;
}

.siteAboutContainer{
  padding: 35px 0px 20px 0px;
	font-family: 'Cinzel', cursive;
	font-size: 58px;
	font-weight: 300;
	color: #fff;
}

.justify-text{
	text-align: justify;
	font-weight: 100!important;
}

@media screen and (max-width:768px){
	.siteAboutContainer{
		font-size:35px;
	}
}

#intro .description{
	margin-top: 10px;
	font-size: 16px;
	padding-left: 25px;
}

.servicesList-1, .servicesList-2 {
	padding-left: 20px;
}

.servicesList-1 li, .servicesList-2 li{
	display: block;
	font-size: 16px;
	color: #fff;
}

.servicesList-1 li::before, .servicesList-2 li::before{
	content: "\f105";
	position: relative;
	left: -10px;
	color: #fff;
	font-size: 18px;
	line-height: 2;
	font-weight: 200;
}

#joinNowBtn {
	vertical-align: bottom;
	font-family: 'Coming Soon',cursive!important;
	font-size: 16px;
	float: left;
	padding: 10px;
	margin-left: 40px;
	color: #fff;
	border-style: solid;
	border-width: 3px;
	border-color: #fff;
}

#joinNowBtn:hover {
	color: #80DEEA;
	border-color: #80DEEA;
}

/** Events Section **/
#events{
	color: #000;
}

.eventsList{
	min-width: 220px;
	margin: auto;
	left: 0;
	right: 0;
	top: 10px;
}

.eventBox {
	height: 450px;
	width: 340px;
	margin: 10px 20px;
	padding-bottom: 10px;
	color: #fff;
	text-align: center;
	box-shadow: 4px 4px 4px #000;
	background: #fff;
}

@media all and (max-width:299px){ 	.eventBox{ 		display:none; 	} }
@media all and (min-width:300px) and (max-width:768px){
	.eventBox{
		width: 250px;
		margin: 10px 2px;
	}
}

.eventBox div {
	left: 0;
	right: 0;
}

.eventTitle {
	width: inherit;
	overflow: hidden;
	background-size: cover;
	height: 150px;
	padding: 0;
	vertical-align: middle;
	left: -50!important;
}

.eventTitle .img {
	width: inherit;
	overflow-y: hidden;
	padding: 0;
	margin: 0;
	z-index: -1;
	position: absolute;
	vertical-align: middle;
}

.eventTitle img{
	width:inherit;
	height:150px;
	overflow-y: hidden;
}

.eventTitle .h {
	z-index: 5;
	position: absolute;
	vertical-align: middle;
}

.eventTitle h2{
	font-size:24px;
	font-family: 'Libre Baskerville', sans-serif;
	font-weight: bold;
	text-shadow: 3px 3px 2px #000;
	color: #fff;
	vertical-align: middle;
	left:0;
	padding-top:30px;
}
.eventInfo {
	top: 10px;
	position: relative;
}

.eventTiming {
	padding-right: 5px;
	text-align: left;
	top: 10px;
}

.eventDesc, .eventDescInfo {
	padding-left: 0;
	text-align: left;
	overflow: hidden;
}

.eventDescInfo .eventDescInfoContainer{
	text-align:left;
	overflow-x:hidden;
	overflow-y:hidden;
	padding-bottom:50px;
	height:40px;
}

.eventDescInfo .eventDescInfoContainer:hover{
	overflow-y:auto;
	overflow-x:auto;
}

.eventCTA{
	bottom:15px;
	width:100%;
}

.eventCTA button {
	width: 100%;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 10px;
	color: #000;
	background-color: transparent!important;
}

.event-buttons{
	font-weight: 600;
	font-size: 14px;
	padding: 20px;
	margin-left:15px;
	margin-top: 20px;
	color:#fff;
}

.UpcomingEvents {
	display: inline-flex;
}

.UpcomingEvents hr{
	border-top: 10px solid #000;
	width: 125px;
	left:0;
}

.webinar{
	overflow: hidden;
	width: 1145px;
}

#webinars h1 {
	color: #fff;
}

#webinarsListContainer {
	display: inline-flex;
}

.fa-angle-right,.fa-angle-left {
	font-size: 60px;
	color: #fff;
}

/** Alumni Section **/
#alumni .section-header{
	color: #fff;
}

.alumni-section h1{
	text-shadow: 2px 2px 2px #fff;
}

.alumniDescription{
	padding:20px;
	padding-left: 50px;
	text-align:center;
}

.alumniDescription p{
	font-size:22px;
	font-family: 'Libre Baskerville', cursive;
}

.alumniDescription:before{
	content:'\f10d';
	position:absolute;
	top:0;
	left:0;
	color:rgba(0,0,0,0.1);
	font-size:24px;
}

.alumniDescription:after{
	content:'\f10e';
	position:absolute;
	bottom:0;
	right:0;
	color:rgba(0,0,0,0.1);
	font-size:24px;
}

/** Team Section **/
#team{
	color: #000;
}

#team .section-header{
	color:#fff;
}

.teamBox {
	position: relative;
	width: 150px;
	height: 200px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	margin: 0px 20px 40px 20px;
	color: #000;
	font-family: 'Cinzel';
	font-weight: 200;
	box-shadow: 7px 7px 10px #010101;
}

.TeamGrad{
	width: inherit;
	height: 80px;
	position: absolute;
}

.TeamBG{
	width: inherit;
	height: 120px;
	background-color: #fff;
	margin: 80px 0px 0px 0px;
}

.teamBox .teamPhotoContainer {
	position: absolute;
	border-radius: 50%;
	border-color: #fff;
	border-width: 7px;
	border-style: solid;
	overflow: hidden;
	top: 30px;
	height: 100px;
	width: 100px;
	background-color: #CDDC39;
}

.teamBox .teamPhotoContainer img {
	height: 100px;
	width: 100px;
}

.teamInfoContainer{
	margin: 5px;
	padding-top: 55px;
	color: #0d0d0d;
}

.teamName{
	font-size: 16px;
}

.teamDesignation{
	font-style: italic;
	font-size: 12px;
}

/** Contact Section **/
#contact .section-header {
	color: rgba(0,0,0,0.5);
	margin-top: -10px!important;
}

.icon-grey {
	font-size: 50px;
	color: rgba(0,0,0,0.5);
	padding: 0px 25px 0px 25px;
}

.icon-grey:hover {
	color: rgba(0,0,0,0.8);
}

.icon-grey.hover-blue:hover {
	color: rgba(34,121,224,0.8);
}

.icon-grey.hover-red:hover {
	color: rgba(192,41,43,0.8);
}

.icon-grey.hover-yellow:hover {
	color: rgba(236,214,14,0.8);
}

.icon-grey.hover-green:hover {
		color: rgba(128,255,128,0.8);
}

#contact p {
	font-family: 'Playfair SC Display';
	font-weight: bold;
	padding-top: 30px;
	font-size: 18px;
	color: rgba(0,0,0,0.5);
}
